.col-sm {
    text-align: center !important;
    padding-top: 5px;
    padding-right: 5px;
}
body {
    text-align: center !important;
}

#quests {
    display: none;
}

#skillsCal {
    display: none;
}

.skillsC {
    display: none;
    position: absolute;
    top: 11px;
    left: 220px;
}

.calculators {
    display: none;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
}

#agility_to_nine_nine{
    max-height: 400px;
    overflow-y: scroll;
}

#agil_des_level{
    max-width: 60px;
}

#agility_to_next{
    max-height: 400px;
    overflow-y: scroll;
}