.col-sm {
    text-align: center !important;
    padding-top: 5px;
    padding-right: 5px;
}
body {
    text-align: center !important;
}

#quests {
    display: none;
}

#skillsCal {
    display: none;
}

.skillsC {
    display: none;
    position: absolute;
    top: 11px;
    left: 220px;
}
